RewriteEngine On

# Ensure Authorization headers are passed to PHP scripts
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

# Rewrite api endpoints to api.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^api/(.*)$ api.php?path=$1 [QSA,L]

# HTML5 History API fallback for React Client Side Routing (SPA)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^admin$ index.html [L]
RewriteRule ^(.*)$ index.html [L]
